:root {
    --bs-primary: #a4123f;
    --bs-primary-rgb: 164, 18, 63;
}

body {
    font-family: "UI-Robotq", "Helvetica Sans", "Liberation Color Emoji", "Segoe UI Emoji", "Symbol", "Noto Color Emoji", sans-serif;
    font-weight: 400;
    /* This is normal weight, equivalent to 'regular' */
}



.vr-break {
    background-color: #e5e7eb;
    width: 1px;
    height: 27px;
}

.profile-card {

    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 12px;
    background: linear-gradient(to bottom right, #A4123F, #C71F4B, #8B0000);

}

.profile-card-white {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: white;
    padding: 12px;
    /* default for smaller screens */
}

@media (min-width: 768px) {
    .profile-card-white {
        padding-left: 177px;
        /* only for screens >= 768px */
    }
}

.main-profile-card {
    /* height: 0; */
    padding: 12px;
}

@media (min-width: 768px) {
    .main-profile-card {
        height: 105%;
    }
}





.profile-circle {
    top: 130px;
    left: 20px;
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
}

.profile-circle-sm {

    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
}


.nav-p {
    padding-left: 10px;
    padding-right: 10px;
}

.logo {
    width: 100px;
}


.circle-avatar {
    width: 30px;
    height: 30px;
}

.logo-font {
    font-size: 17px;
}
  .sub-font{
        font-size: 12px;
    }

@media (min-width: 992px) {
    .nav-p {
        padding-left: 180px;
        padding-right: 180px;
    }

    .logo {
        width: 130px;
    }

    .circle-avatar {
        width: 40px;
        height: 40px;
    }

    .logo-font {
        font-size: 19px;
    }
    .sub-font{
        font-size: 14px;
    }

}


.btn-primary-cus{
    background-color: #A4123F;
}
.btn-primary-cus:hover{
    background-color: #cf184f;
}

.img-box {
    width: 35px;
    height: 35px;
    background-color: #a4123f;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 8px;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
